<a href="https://colab.research.google.com/github/gee12345678/data-science-analysis.github.io/blob/main/SA_CRIME_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("SouthAfricaCrimeStats_v2.csv")

# Preview data
df.head()

,Province,Station,Category,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016
0,Western Cape,Cape Town Central,All theft not mentioned elsewhere,6692,6341,5966,5187,4985,5127,5285,5937,5600,5335,5176
1,Gauteng,Jhb Central,All theft not mentioned elsewhere,6093,4602,3761,3610,3267,3037,2886,2638,2809,3050,2434
2,Western Cape,Mitchells Plain,All theft not mentioned elsewhere,5341,6093,6316,6803,6035,5761,6108,5514,4975,4043,3635
3,Free State,Park Road,All theft not mentioned elsewhere,5108,4282,3834,3316,3101,3013,2679,3116,2927,2297,2103
4,Gauteng,Pretoria Central,All theft not mentioned elsewhere,5099,4536,3309,2694,2616,2606,2635,3226,3246,2892,3030

In [ ]:
df.tail()

,Province,Station,Category,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016
30856,Western Cape,Belhar,All theft not mentioned elsewhere,0,0,250,837,710,746,839,762,882,1015,829
30857,Gauteng,Moffatview,All theft not mentioned elsewhere,0,0,0,0,0,0,0,1012,1195,1294,991
30858,Western Cape,Belhar,Drug-related crime,0,0,54,238,291,583,840,1117,1197,1237,1401
30859,Western Cape,Lentegeur,All theft not mentioned elsewhere,0,0,0,0,0,0,0,0,1300,2346,1989
30860,Western Cape,Lentegeur,Drug-related crime,0,0,0,0,0,0,0,0,1126,1933,2050

In [ ]:
# Check for missing values
print(df.isnull().sum())

Province     0
Station      0
Category     0
2005-2006    0
2006-2007    0
2007-2008    0
2008-2009    0
2009-2010    0
2010-2011    0
2011-2012    0
2012-2013    0
2013-2014    0
2014-2015    0
2015-2016    0
dtype: int64

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
print(df.isnull().sum())

Province     0
Station      0
Category     0
2005-2006    0
2006-2007    0
2007-2008    0
2008-2009    0
2009-2010    0
2010-2011    0
2011-2012    0
2012-2013    0
2013-2014    0
2014-2015    0
2015-2016    0
dtype: int64

In [ ]:
# Find and remove duplicate rows
df.drop_duplicates(inplace=True)

In [ ]:
# Make column names lowercase and remove spaces
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [ ]:

# Step 2: Preview the data
print(df.head())
print(df.info())

       province            station                           category  \
0  Western Cape  Cape Town Central  All theft not mentioned elsewhere
1       Gauteng        Jhb Central  All theft not mentioned elsewhere
2  Western Cape    Mitchells Plain  All theft not mentioned elsewhere
3    Free State          Park Road  All theft not mentioned elsewhere
4       Gauteng   Pretoria Central  All theft not mentioned elsewhere

   2005-2006  2006-2007  2007-2008  2008-2009  2009-2010  2010-2011  \
0       6692       6341       5966       5187       4985       5127
1       6093       4602       3761       3610       3267       3037
2       5341       6093       6316       6803       6035       5761
3       5108       4282       3834       3316       3101       3013
4       5099       4536       3309       2694       2616       2606

   2011-2012  2012-2013  2013-2014  2014-2015  2015-2016
0       5285       5937       5600       5335       5176
1       2886       2638       2809       3050       2434
2       6108       5514       4975       4043       3635
3       2679       3116       2927       2297       2103
4       2635       3226       3246       2892       3030
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30861 entries, 0 to 30860
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   province   30861 non-null  object
 1   station    30861 non-null  object
 2   category   30861 non-null  object
 3   2005-2006  30861 non-null  int64
 4   2006-2007  30861 non-null  int64
 5   2007-2008  30861 non-null  int64
 6   2008-2009  30861 non-null  int64
 7   2009-2010  30861 non-null  int64
 8   2010-2011  30861 non-null  int64
 9   2011-2012  30861 non-null  int64
 10  2012-2013  30861 non-null  int64
 11  2013-2014  30861 non-null  int64
 12  2014-2015  30861 non-null  int64
 13  2015-2016  30861 non-null  int64
dtypes: int64(11), object(3)
memory usage: 3.3+ MB
None

In [ ]:
# Step 3: Check for missing values
print("Missing values:\n", df.isnull().sum())

Missing values:
 province     0
station      0
category     0
2005-2006    0
2006-2007    0
2007-2008    0
2008-2009    0
2009-2010    0
2010-2011    0
2011-2012    0
2012-2013    0
2013-2014    0
2014-2015    0
2015-2016    0
dtype: int64

In [ ]:
# Optionally: Fill or drop missing values
df.fillna(0, inplace=True)  # Or use df.dropna()

In [ ]:
# Step 4: Remove duplicates if any
df.drop_duplicates(inplace=True)

In [ ]:
# Step 5: Standardize string columns
df['province'] = df['province'].str.title().str.strip()
df['station'] = df['station'].str.title().str.strip()
df['category'] = df['category'].str.title().str.strip()

In [ ]:
# Step 6: Convert year columns to numeric
year_cols = [col for col in df.columns if '200' in col]
df[year_cols] = df[year_cols].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Step 7: Optional â€“ Reshape for better Tableau use (long format)
df_long = df.melt(id_vars=['province', 'station', 'category'],
                  var_name='year',
                  value_name='cases')

In [ ]:
# Clean up year column (make it a single year)
df_long['year'] = df_long['year'].str[:4].astype(int)

# Step 8: Save cleaned dataset
df_long.to_csv("cleaned_southAfrica_crime.csv", index=False)

print("Cleaned and reshaped dataset saved as cleaned_southAfrica_crime.csv")

Cleaned and reshaped dataset saved as cleaned_southAfrica_crime.csv

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("SouthAfricaCrimeStats_v2.csv")

# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Check the cleaned column names
print(df.columns.tolist())

# Melt the DataFrame
df_melted = df.melt(
    id_vars=["province", "station", "category"],
    var_name="year",
    value_name="cases"
)

# Preview the result
print(df_melted.head())

# Save it
df_melted.to_csv("cleaned_crime_long.csv", index=False)

['province', 'station', 'category', '2005-2006', '2006-2007', '2007-2008', '2008-2009', '2009-2010', '2010-2011', '2011-2012', '2012-2013', '2013-2014', '2014-2015', '2015-2016']
       province            station                           category  \
0  Western Cape  Cape Town Central  All theft not mentioned elsewhere
1       Gauteng        Jhb Central  All theft not mentioned elsewhere
2  Western Cape    Mitchells Plain  All theft not mentioned elsewhere
3    Free State          Park Road  All theft not mentioned elsewhere
4       Gauteng   Pretoria Central  All theft not mentioned elsewhere

        year  cases
0  2005-2006   6692
1  2005-2006   6093
2  2005-2006   5341
3  2005-2006   5108
4  2005-2006   5099

In [ ]:
df_melted.head()

,province,station,category,year,cases
0,Western Cape,Cape Town Central,All theft not mentioned elsewhere,2005-2006,6692
1,Gauteng,Jhb Central,All theft not mentioned elsewhere,2005-2006,6093
2,Western Cape,Mitchells Plain,All theft not mentioned elsewhere,2005-2006,5341
3,Free State,Park Road,All theft not mentioned elsewhere,2005-2006,5108
4,Gauteng,Pretoria Central,All theft not mentioned elsewhere,2005-2006,5099

In [ ]:
df_melted.tail()

,province,station,category,year,cases
339466,Western Cape,Belhar,All theft not mentioned elsewhere,2015-2016,829
339467,Gauteng,Moffatview,All theft not mentioned elsewhere,2015-2016,991
339468,Western Cape,Belhar,Drug-related crime,2015-2016,1401
339469,Western Cape,Lentegeur,All theft not mentioned elsewhere,2015-2016,1989
339470,Western Cape,Lentegeur,Drug-related crime,2015-2016,2050